{% extends "EvFrontBundle:Default:base.html.twig" %}

{% block body %}
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
			<div class="row vdivide">
                            <div class="col-md-6">
                                <h4>S'inscrire</h4>
                                {{form(Rform)}}
                            </div>
                            <div class="col-md-6">
                                <h4>Se connecter</h4>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="mail" placeholder="jane.doe@anonymo.us" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="passwd" placeholder="Mot de passe" />
                                    </div>
                                    <input type="submit" class="btn btn-theme" />
                                </form>
                            </div>
			</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <section id="featured">
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              
        {% for slide in slides %}
            <li>
                <img src=" {{asset( slide.lien )}}" alt="{{ slide.nom }}"/>
            </li>
        {% endfor %}
                
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>	
    </section>
    
    <section id="content">
	<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Nos prochaines ventes</h4>
                                    <div class="icon">
                                        <i class="fa fa-clock-o fa-3x"></i>
                                    </div>
                                    <p>Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.</p>
                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Nos produits stars</h4>
                                    <div class="icon">
                                        <i class="fa fa-star fa-3x"></i>
                                    </div>
                                    <p>Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.</p>
                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Newsletter / Alertes</h4>
                                    <div class="icon">
                                        <i class="fa fa-envelope fa-3x"></i>
                                    </div>
                                    <p>Voluptatem accusantium doloremque laudantium sprea totam rem aperiam.</p>
                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</div>
    </section>
    
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        });
    </script>
{% endblock %}